@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can keep or remove other CSS from here */
body {
  margin: 0;
  font-family: 'Inter', sans-serif; /* Recommended font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}